@using Microsoft.AspNet.Identity
@model Sauron.ViewModels.HomeWorkIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Submitted Home&nbsp;Works</h2>
@{
	Html.RenderPartial("_HomeWorksList", Model.HomeWorks);
}
