@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = "Error";
}

@if (Model.Exception is UnauthorizedAccessException)
{
	<h1 class="text-danger">Something went wrong.</h1>
	<h2 class="text-danger">Try to relogin into GitHub account.</h2>
} else {
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
}


